<div class="menu">
    <nav class="flex-column" style="height: 100%; display: flex">
        <div class="nav-item px-3" style="color: blue">
            Тесты:
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                На хойщика
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/doter" Match="NavLinkMatch.All">
                На дотера
            </NavLink>
        </div>
        <div style="flex-grow: 1; display: flex"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                Хомяк
            </NavLink>
        </div>
    </nav>
</div>

