<div class="menu @(MenuVisible ? "open" : "")">
    <nav class="flex-column" style="height: 100%; display: flex">
        <div class="nav-item px-3" style="color: blue">
            Тесты:
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/hoi" Match="NavLinkMatch.All">
                На хойщика
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/doter" Match="NavLinkMatch.All">
                На дотера
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/segr" Match="NavLinkMatch.All">
                На cнегра
            </NavLink>
        </div>
        <div style="flex-grow: 1; display: flex"></div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                Хомяк
            </NavLink>
        </div>
    </nav>
</div>
<a class="open-menu" href="/">
    <img style="width: 50px; height: 50px; backdrop-filter: blur(1px)" src="/list.svg"/>
</a>

@code {
    [Parameter]
    public bool MenuVisible { get; set; }
}
