<h3 style="text-align: center; text-transform: lowercase">@Text</h3>
<div class="group" style="display: flex; justify-content:space-around; margin-bottom: 50px">
    <CascadingValue Name="Name" Value="@Text">
        <CascadingValue Name="Variable" Value="@Variable">
            <CascadingValue Name="VariableChanged" Value="@VariableChanged">
                @ChildContent
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public string Variable { get; set; }
    [Parameter]
    public Action<string> VariableChanged { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
